<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109227683554-3dn3a5kfcmvisnjshus1t0shg51mvcdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109227683554-3dn3a5kfcmvisnjshus1t0shg51mvcdh</string>
	<key>API_KEY</key>
	<string>AIzaSyBEXy6NARfUgipKTEatRrs1Qn-d1qVYzsY</string>
	<key>GCM_SENDER_ID</key>
	<string>109227683554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quantamInnovation</string>
	<key>PROJECT_ID</key>
	<string>quantam-innovation</string>
	<key>STORAGE_BUCKET</key>
	<string>quantam-innovation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109227683554:ios:9bf5a856e82dee8653b8bb</string>
</dict>
</plist>